h1  {
color:#666699; font-family: Arial; font-size: 32pt; text-align: center; border-style: double; border-color: black; background-color: #f7e9f7;
}
h3  {
    color: darkcyan; font-size: 24pt;
}

p {
    color:black; font-family: Times New Roman; font-size: 14pt;

}
li {font-size: 14pt;}
li span {color:darkcyan}
li span2 {color: darkmagenta}


img {
  float: left; margin-right: 2em;
}

body {background-color: #f2f4f5}
main p.indent {text-indent: 2em;}

blockquote {font-size: 14pt;}

footer p {
font-size: 10pt; border-top-style: double;  
}
a :link {color: darkcyan;}
a :hover {color:darkorange;}
a :focus {color :darkorchid;}
a :visited {color :fuchsia;}
a :active {color :darkcyan;}
 a {text-decoration: none; font-size: 10pt; color: darkcyan;} 
